@{
    Layout = "/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Edit Profile | Master Page";
}

<form action="/Master/Profile/Edit" method="post">
    @Html.AntiForgeryToken()
    <div>
        <label>プロフィール文</label>
        <div><textarea name="Body" cols="60" rows="15">@Html.Raw(ViewBag.profile)</textarea></div>
    </div>
    <input type="submit" value="post">

</form>