@{
    Layout = "/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Edit | Admin Page";
}

<form name="imageForm" enctype="multipart/form-data">
    <input type="file" name="images" multiple>
    <button type="button" onclick="post();">send</button>
    <script>
        var i = 0;
        function post() {
            var formData = new FormData(imageForm);
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Master/Images", false);
            xhr.send(formData);
            document.getElementById("results").innerText = ++i;
        }
    </script>
</form>
<div id="results"></div>