@charset "UTF-8";
#container {
  position: absolute;
  max-width: 100%;
  background-color: azure; }

.header1 {
  min-height: 40px;
  padding-top: 11px;
  background-color: darkviolet; }

.right {
  text-align: right;
  padding-right: 10px; }

.inline-el {
  display: inline; }

.body-content {
  background-color: #211B72;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 20px; }

#pageLink {
  text-align: left;
  padding-bottom: 25px; }

#sidebar {
  color: white;
  font-size: 90%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100%;
  background: #343131;
  z-index: 200; }

#sidebar #title {
  height: 36px;
  background-color: #4b0082;
  color: #fff;
  font-size: 16px;
  text-align: center;
  vertical-align: central;
  margin: 0;
  padding-top: 13px; }

#sidebar #title a {
  color: #fff; }

#sidebar a {
  color: #c5c5c5;
  text-decoration: none; }

#sidebar a:hover {
  color: #ffffff;
  text-decoration: none; }

.sidebar-title {
  background-color: #444; }

#sidebar .sidebar-body {
  color: #ffffff;
  padding: 3px; }

#sidebar .col-link {
  padding-left: 16px; }

#sidebar .underline {
  border-bottom: 1px dotted darkcyan; }

.sidebar-profile {
  color: gray;
  font-size: 90%;
  line-height: 18px; }
  .sidebar-profile .sidebar-title {
    padding: .4045em 1.618em;
    background-color: #444; }
  .sidebar-profile .sidebar-body {
    padding: .4045em 1.618em; }

#entry {
  position: relative;
  left: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 100%;
  background-color: #edf0f2;
  padding-left: 20px;
  padding-right: 20px;
  overflow-y: auto;
  min-height: 100%; }

#entry .entry-title a {
  color: #3c3c3c; }

.entry {
  margin-top: 10px;
  margin-bottom: 20px; }

.entry .entry-tag {
  font-size: 90%; }

.entry .entry-body {
  padding: 25px;
  font-size: 14px; }

.entry .entry-commentcount {
  text-align: right; }

.entry .entry-link {
  color: #808080; }

.entry code br {
  display: none; }

.page {
  text-align: center;
  width: 25px;
  height: 25px;
  margin-left: 25px;
  margin-top: 8px;
  text-decoration: underline; }

.new-entry h2 {
  margin-left: 10px;
  font-size: 16px; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
  background-color: #fff; }

code {
  font-family: Consolas, "Courier New", Courier, Monaco, monospace, "ＭＳ ゴシック", "MS Gothic"; }

.code_title {
  position: relative;
  top: -9.5px;
  left: -9.5px;
  background-color: #eeffee;
  border: 1px solid #ccc;
  padding: 3px; }

.myButton {
  white-space: nowrap;
  background-color: darkblue;
  color: antiquewhite;
  text-decoration: none;
  border-radius: 3px;
  padding-left: 4px;
  padding-right: 4px; }

.img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 0px 6px 3px #e3e3fa;
  margin-top: 10px; }

