<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<title>404 NOT FOUND</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.0.0.min.js"></script>
<style>
@@font-face {
  font-family: 'YouMurderer BB';
  src: url('/etc/youmurdererbb_reg.ttf');
}

body {
  background-color: black;
  color: crimson;
  font-size: 70px;
  font-family: "YouMurderer BB";
  text-align: center;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#body   {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 100px;
  visibility: hidden;
}

</style>
</head>
<body>
    <canvas id="canvas"></canvas>
    <span id="body">404<br />NOT FOUND</span>
<script>
function curse() {
    document.getElementById("body").style.visibility = "visible";

    var canvas = document.getElementById("canvas");
    var w = window.innerWidth;
    var h = window.innerHeight;
    canvas.width = w;
    canvas.height = h;

    var ctx = canvas.getContext("2d");
    ctx.font = '130px "YouMurderer BB"';
    ctx.strokeStyle = "crimson";

    setInterval(function () {
        var l = Math.random() * w;
        var t = Math.random() * h;
        var text = Math.random() > 0.5 ? "{" : "}";

        ctx.strokeText(text, l, t);
    }, 1300);
}

if (typeof document.fonts === "undefined") {
    setTimeout(function () {
        curse();
    }, 2000);

} else {
    document.fonts.onloadingdone = curse;
}

</script>
</body>
</html>